/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

$ddd-strongest: #cccccc;
$ddd-stronger: #656565;
$ddd-strong: #202020;
$ddd-medium: #292929;
$ddd-weak: #202020;
$ddd-weaker: #101010;

$ddd-headingcolor-main: #545454;
$ddd-headingcolor-sub: #666666;

$ddd-negativecolor: #666666;

$ddd-intense: #666666;
$hashless-intense: '666666';
$ddd-brightest: #212121;
$ddd-brightest-inverted: #d4d4d4;
$hashless-brightest-inverted: 'd4d4d4'; // hex RGB without the hash symbol
$button-color: #888888;
$button-bgcolor: #111111;

$button-color-over: lighten($button-color, 10%);
$button-bgcolor-over: lighten($button-bgcolor, 10%);
$glow-vague-color: rgba(0, 0, 0, 1);
$glow-vague-color-over: rgba(36, 36, 36, 1);
$glow-vague-color-over-str: 'rgba(36, 36, 36, 1)';
$icon-color-main: 'rgb(143, 143, 143, 1)';
$hashless-icon-color-main: '8f8f8f'; // hex RGB without the hash symbol
@mixin desaturate-if-mono {
  filter: grayscale(100%);
};

$icon-color: $ddd-strong;

$panel-bg-color: $ddd-weak;

$sheet-bg-color: #121212;

$placeholder-color: $ddd-stronger;
$placeholder-border-color: $ddd-medium;

$input-color-money: $ddd-strongest;
$input-color-money-dark: #636363;
$input-color-money-negative: $ddd-negativecolor;
$input-color-time: $ddd-strongest;
$input-color-money-placeholder: darken($input-color-money-dark, 20%);
$input-color-money-negative-placeholder: darken($input-color-money-negative, 35%);
$hashless-input-color-money: str-replace('#{$input-color-money}', '#', '');
$hashless-input-color-money-negative: str-replace('#{$input-color-money-negative}', '#', '');
$hashless-input-color-time: str-replace('#{$input-color-time}', '#', '');

$ddd-positivecolor: #7a7a7a;
$input-color-money-positive: $ddd-positivecolor;
$input-color-money-positive-placeholder: lighten($input-color-money-positive, 85%);
$hashless-input-color-money-positive: str-replace('#{$input-color-money-positive}', '#', '');

$config-input-color: $ddd-stronger;
$config-input-bg-color: $ddd-weaker;

$ddd-dimmer: rgba(0, 0, 0, 0.9);

$shadow-color: rgba(0, 0, 0, 0.5);
$shadow-color-weak: rgba(0, 0, 0, 0.15);
$float-shadow-filter: drop-shadow(2px 3px 10px $shadow-color);
$grayscale-filter: grayscale(1);
$invert-filter: invert(0.79);
$brightness-filter: brightness(1.29);
@mixin logo-filters {
  filter: $grayscale-filter $brightness-filter $invert-filter;
}

$date-bgcolor: darken($ddd-weaker, 3%);
$date-bgcolor: mix($date-bgcolor, $ddd-intense, 90%);
$date-bgcolor-odd: lighten($sheet-bg-color, 10%);
$date-bgcolor-odd: mix($date-bgcolor-odd, $ddd-intense, 90%);
$weekend-bgcolor: darken($sheet-bg-color, 4%);
