/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

$ddd-strongest: #333333;
$ddd-stronger: #9a9a9a;
$ddd-strong: #c2c2c2;
$ddd-medium: #efefef;
$ddd-weak: #f6f6f6;
$ddd-weaker: #f7f7f7;

$ddd-headingcolor-main: #333333;
$ddd-headingcolor-sub: desaturate(lighten($ddd-headingcolor-main, 35%), 75%);

$ddd-negativecolor: #5d5d5d;

$ddd-intense: #7f7f7f;
$hashless-intense: '7f7f7f';
$ddd-brightest: white;
$ddd-brightest-inverted: black;
$hashless-brightest-inverted: '000000'; // hex RGB without the hash symbol
$button-color: #5d5d5d;
$button-bgcolor: #eeeeee;

$button-color-over: darken($button-color, 10%);
$button-bgcolor-over: darken($button-bgcolor, 10%);
$glow-vague-color: rgba(255, 255, 255, 1);
$glow-vague-color-over: rgba(211, 211, 211, 1);
$glow-vague-color-over-str: 'rgba(211, 211, 211, 1)';
$icon-color-main: 'rgb(93, 93, 93, 1)';
$hashless-icon-color-main: '5d5d5d'; // hex RGB without the hash symbol
@mixin desaturate-if-mono {
  filter: grayscale(100%);
};

$icon-color: $ddd-strong;

$panel-bg-color: $ddd-weak;

$sheet-bg-color: #fafafa;

$placeholder-color: $ddd-stronger;
$placeholder-border-color: $ddd-medium;

$input-color-money: $ddd-strongest;
$input-color-money-dark: #445533;
$input-color-money-negative: $ddd-negativecolor;
$input-color-time: $ddd-strongest;
$input-color-money-placeholder: lighten($input-color-money-dark, 85%);
$input-color-money-negative-placeholder: lighten($input-color-money-negative, 85%);
$hashless-input-color-money: str-replace('#{$input-color-money}', '#', '');
$hashless-input-color-money-negative: str-replace('#{$input-color-money-negative}', '#', '');
$hashless-input-color-time: str-replace('#{$input-color-time}', '#', '');

$ddd-positivecolor: #404040;
$input-color-money-positive: $ddd-positivecolor;
$input-color-money-positive-placeholder: lighten($input-color-money-positive, 85%);
$hashless-input-color-money-positive: str-replace('#{$input-color-money-positive}', '#', '');

$config-input-color: $ddd-stronger;
$config-input-bg-color: $ddd-weaker;

$ddd-dimmer: rgba(255, 255, 255, 0.85);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-color-weak: rgba(0, 0, 0, 0.08);
$float-shadow-filter: drop-shadow(2px 3px 10px $shadow-color);
$grayscale-filter: grayscale(1);
@mixin logo-filters {
  filter: $grayscale-filter;
}

$date-bgcolor: darken($ddd-weaker, 3%);
$date-bgcolor: mix($date-bgcolor, $ddd-intense, 90%);
$date-bgcolor-odd: lighten($sheet-bg-color, 10%);
$date-bgcolor-odd: mix($date-bgcolor-odd, $ddd-intense, 90%);
$weekend-bgcolor: darken($sheet-bg-color, 4%);
