/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

$ddd-strongest: #333333;
$ddd-stronger: #a6a2a2;
$ddd-strong: #d0d0d0;
$ddd-medium: #f0eeee;
$ddd-weak: #f7f5f5;
$ddd-weaker: #f8f6f6;

$ddd-headingcolor-main: #662200;
$ddd-headingcolor-sub: desaturate(lighten($ddd-headingcolor-main, 35%), 75%);

$ddd-negativecolor: #993322;

$ddd-intense: #ff6f00;
$hashless-intense: 'ff6f00';
$ddd-brightest: white;
$ddd-brightest-inverted: black;
$hashless-brightest-inverted: '000000'; // hex RGB without the hash symbol
$button-color: #776644;
$button-bgcolor: #ffeedd;

$button-color-over: darken($button-color, 10%);
$button-bgcolor-over: darken($button-bgcolor, 10%);
$glow-vague-color: rgba(255, 255, 255, 1);
$glow-vague-color-over: rgba(255, 241, 168, 1);
$glow-vague-color-over-str: 'rgba(255, 241, 168, 1)';
$icon-color-main: 'rgb(119, 102, 68, 1)';
$hashless-icon-color-main: '776644'; // hex RGB without the hash symbol
@mixin desaturate-if-mono {
  // Does nothing in non-mono colorschemes
};

$icon-color: $ddd-strong;

$panel-bg-color: $ddd-weak;

$sheet-bg-color: #fafafa;

$placeholder-color: $ddd-stronger;
$placeholder-border-color: $ddd-medium;

$input-color-money: $ddd-strongest;
$input-color-money-dark: #445533;
$input-color-money-negative: $ddd-negativecolor;
$input-color-time: $ddd-strongest;
$input-color-money-placeholder: lighten($input-color-money-dark, 85%);
$input-color-money-negative-placeholder: lighten($input-color-money-negative, 85%);
$hashless-input-color-money: str-replace('#{$input-color-money}', '#', '');
$hashless-input-color-money-negative: str-replace('#{$input-color-money-negative}', '#', '');
$hashless-input-color-time: str-replace('#{$input-color-time}', '#', '');

$ddd-positivecolor: #137b07;
$input-color-money-positive: $ddd-positivecolor;
$input-color-money-positive-placeholder: lighten($input-color-money-positive, 85%);
$hashless-input-color-money-positive: str-replace('#{$input-color-money-positive}', '#', '');

$config-input-color: $ddd-stronger;
$config-input-bg-color: $ddd-weaker;

$ddd-dimmer: rgba(255, 255, 255, 0.85);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-color-weak: rgba(0, 0, 0, 0.08);
$float-shadow-filter: drop-shadow(2px 3px 10px $shadow-color);
@mixin logo-filters {
  //filter: $float-shadow-filter;
}


$date-bgcolor: darken($ddd-weaker, 3%);
$date-bgcolor: mix($date-bgcolor, $ddd-intense, 90%);
$date-bgcolor-odd: lighten($sheet-bg-color, 10%);
$date-bgcolor-odd: mix($date-bgcolor-odd, $ddd-intense, 90%);
$weekend-bgcolor: darken($sheet-bg-color, 5%);
