/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

$ddd-strongest: #cccccc;
$ddd-stronger: #646666;
$ddd-strong: #202222;
$ddd-medium: #0f1111;
$ddd-weak: #26160d;
$ddd-weaker: #171111;

$ddd-headingcolor-main: #dd7b55;
$ddd-headingcolor-sub: desaturate(darken($ddd-headingcolor-main, 15%), 35%);

$ddd-negativecolor: #ff443d;

$ddd-intense: #999633;
$hashless-intense: '999633';
$ddd-brightest: #212121;
$ddd-brightest-inverted: #d4d4d4;
$hashless-brightest-inverted: 'd4d4d4'; // hex RGB without the hash symbol
$button-color: #889977;
$button-bgcolor: #001122;

$button-color-over: lighten($button-color, 10%);
$button-bgcolor-over: lighten($button-bgcolor, 10%);
$glow-vague-color: rgba(0, 0, 0, 1);
$glow-vague-color-over: rgba(72, 31, 0, 1);
$glow-vague-color-over-str: 'rgba(72, 31, 0, 1)';
$icon-color-main: 'rgb(219, 102, 68, 1)';
$hashless-icon-color-main: 'db6644'; // hex RGB without the hash symbol
@mixin desaturate-if-mono {
  filter: brightness(75%);
};

$icon-color: $ddd-strong;

$panel-bg-color: $ddd-weak;

$sheet-bg-color: #100e16;

$placeholder-color: $ddd-stronger;
$placeholder-border-color: $ddd-medium;

$input-color-money: $ddd-strongest;
$input-color-money-dark: #7bc700;
$input-color-money-negative: $ddd-negativecolor;
$input-color-time: $ddd-strongest;
$input-color-money-placeholder: darken($input-color-money-dark, 20%);
$input-color-money-negative-placeholder: darken($input-color-money-negative, 35%);
$hashless-input-color-money: str-replace('#{$input-color-money}', '#', '');
$hashless-input-color-money-negative: str-replace('#{$input-color-money-negative}', '#', '');
$hashless-input-color-time: str-replace('#{$input-color-time}', '#', '');

$ddd-positivecolor: #00f508;
$input-color-money-positive: $ddd-positivecolor;
$input-color-money-positive-placeholder: lighten($input-color-money-positive, 85%);
$hashless-input-color-money-positive: str-replace('#{$input-color-money-positive}', '#', '');

$config-input-color: $ddd-stronger;
$config-input-bg-color: $ddd-weaker;

$ddd-dimmer: rgba(0, 0, 0, 0.9);

$shadow-color: rgba(0, 0, 0, 0.5);
$shadow-color-weak: rgba(0, 0, 0, 0.15);
$float-shadow-filter: drop-shadow(2px 3px 10px $shadow-color);
@mixin logo-filters {
  //filter: $float-shadow-filter;
}

$date-bgcolor: darken($ddd-weaker, 3%);
$date-bgcolor: mix($date-bgcolor, $ddd-intense, 90%);
$date-bgcolor-odd: lighten($sheet-bg-color, 10%);
$date-bgcolor-odd: mix($date-bgcolor-odd, $ddd-intense, 90%);
$weekend-bgcolor: darken($sheet-bg-color, 4%);
