/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

.popover-container {

  .picker {

    fg-select,
    .datepicker-day {
      background-color: $button-bgcolor;
      color: $button-color;
      text-transform: capitalize;
    }
    fg-select {
      border: none;
      fg-options {
        fg-option {
          background-color: $ddd-brightest;
          color: $ddd-strongest;
          font-size: $fontsize-default;
          line-height: $fontsize-default + $small-padding;
          padding: $small-padding $large-padding;
          border: none;
          font-style: normal;
          &:nth-child(odd) {
            background-color: $ddd-weaker;
          }
        }
      }
      &[state="open"]:last-of-type {
        fg-options {
          right: initial;
          left: 50%;
        }
      }
      &[state="open"],
      &[state="open"]:last-of-type {
        fg-options {
          position: fixed;
          top: 5vh;
          bottom: 5vh;
          width: 50%;
          overflow: scroll;
          right: 50%;
          background: $sheet-bg-color;
          @include for-phone-larger {
            position: relative;
            width: initial;
            max-height: initial;
            top: initial;
            bottom: initial;
            overflow: initial;
            left: initial;
            right: initial;
            background: initial;
          }
        }
      }
      &:not([state="open"]) {
        fg-options {
          fg-option {
            background-color: $glow-vague-color-over;
            color: $ddd-headingcolor-main;
            font-weight: bold;
          }
        }
      }
    }
    .datepicker-month,
    .datepicker-year {
      width: calc(48%);
      padding: 0.1rem;
      box-sizing: border-box;
      margin: 0;
      &:first-of-type {
        margin-right: 2%;
      }
      &:last-of-type {
        margin-left: 2%;
      }
    }

    fg-radio-button-group {
      width: 100%;
      margin-top: $large-padding;
      margin-bottom: $extra-large-padding;
      height: 12rem;
      display: block;
      input {
        display: none;
      }
      label,
      input + label {
        font-size: $fontsize-h2;
        height: calc(100% / 6);
        width: 14.28%; /* 7 equal columns */
        text-align: center;
        line-height: 1.8rem;
        height: 2.2rem;
        @include for-phone-larger {
          line-height: 2.3rem;
          height: 2.8rem;
        }
        vertical-align: middle;
        border: solid 2px $sheet-bg-color;
        @include for-phone-larger {
          border: solid 3px $sheet-bg-color;
        }
        display: inline-block;
        background-color: $ddd-brightest;
        padding-top: 0;
      }
      input + label {
        color: $button-color;
      }
      input:checked + label {
        background-color: $glow-vague-color-over;
        color: $ddd-headingcolor-main;
        font-weight: bold;
      }
      input:focus + label,
      input:hover + label {
        cursor: pointer;
        background-color: $glow-vague-color-over;
        border-color: $ddd-intense;
        color: $button-color-over;
      }
      label.void {
        pointer-events: none;
        background-color: $button-bgcolor;
      }
    }
  }
}
