/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */


/* ===============================================
		SASS functions (need to be defined before
		they are referenced in the rest of the file	
================================================== */

@function color-svg-icon($svg, $color) {
  @return str-replace($svg, 'FILLCOLOR', $color);
}

@function color-SVG-two-color($svg, $color1, $color2) {
  $return-str: str-replace($svg, 'COLOR1', $color1);
  @return str-replace($return-str, 'COLOR2', $color2);
}

// STRING REPLACE FUNCTION
// ==========================================================================
// Replace `$search` with `$replace` in `$string`
// @author Hugo Giraudel
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
