/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */


/* ===============================================
		keyframe animations need to be defined after animation
    names and timings, otherwise they don't work in Safari



  SEEMS INCORRECT --- CURRENTLY UNUSED

================================================== */
//@include keyframes(working) {
//  0% {
//    transform: rotate(0deg);
//  }
//  70% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(359deg);
//  }
//}
//
//@include keyframes(attract) {
//  0% {
//    opacity: 0;
//  }
//  50% {
//    opacity: 1;
//  }
//  75% {
//    opacity: 1;
//  }
//  100% {
//    opacity: 0;
//  }
//}
//
//@include keyframes(delayed-fade-up) {
//  0% {
//    opacity: 0;
//  }
//  66% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
