/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

html {
  font-size: 80%;
  @include for-tablet-landscape-up {
    font-size: 90%;
  }
  @include for-big-desktop-up {
    font-size: 100%;
  }
  @include for-print {
    font-size: 50%;
  }
}

body.color-picker-editing {
  overflow: hidden;
}

@include for-print {
  body {
    visibility: hidden;
    #main {
      visibility: visible;
      width: auto;
      height: auto;
      overflow: visible;
    }
  }
}

h1 {
  font-size: $fontsize-h1;
  font-weight: bold;
  color: $ddd-headingcolor-main;
}
h2 {
  font-size: $fontsize-h2;
}
h3 {
  font-size: $fontsize-default;
}
h4 {
  font-size: $fontsize-secondary;
}
h5,
h6 {
  font-size: $fontsize-tertiary;
}

a {
  color: $ddd-intense;
}

input[type="checkbox"].switch:focus,
input[type="checkbox"].switch:focus + label,
label {
  @include no-mobile-touch-highlight;
}

input[type="checkbox"].switch:focus + label,
#ui-import-file:focus + label,
.spinner:focus-within,
:focus {
  outline: 0;
}

.working {
  &:after {
    @include animation("working 1s ease-out 1");
  }
}

.attract {
  @include animation("attract .5s 1");
}

.sheet {
  min-width: calc(50% - #{$sheet-margin});
  display: inline-block;
  margin: 0 $extra-large-padding $extra-large-padding 0;
  @include for-tablet-landscape-up {
    min-width: $sheet-min-width;
    margin: 0 ($extra-large-padding * 2) ($extra-large-padding * 2) 0;
  }
}

.expand-vert {
  border: none;
  margin: 0;
  flex-grow: 0.5;
  flex-shrink: 0;
  &:last-of-type {
    flex-grow: 5;
  }
}

.hidden {
  visibility: hidden;
}

.invisible {
  display: none !important;
}

#logo-main,
#nav-main,
#nav-worksheet {
  left: 0;
  z-index: $z-ui;
  display: inline-block;
}
#logo-main,
#nav-main {
  width: $sidebar-width;
  position: fixed;
}

body {
  font-family: $normal-font-family;
  background-color: $ddd-brightest;
  color: $ddd-brightest-inverted;

  &.jobs-and-clients #nav-main fg-button#ui-jobs-and-clients,
  &.worksheet #nav-main fg-button#ui-worksheet,
  &.reports #nav-main fg-button#ui-reports,
  &.config #nav-main fg-button#ui-config {
    &.btn-nav {
      color: $button-color-over;
      background-color: $glow-vague-color-over;
    }
  }

  &.jobs-and-clients #main,
  &.config #config-form,
  &.reports #report-form,
  &.guide #main {
    display: flex;
    flex-wrap: wrap;
    h1,
    h2 {
      flex-grow: 2;
    }
    .sheet {
      flex-shrink: 1;
      flex-grow: 1;
      margin-top: 0;
      margin-left: 0;
      padding: $medium-padding;
      margin-right: 0;
      flex-basis: 100%;
      @include for-phone-larger {
        padding: $large-padding;
      }
      @include for-tablet-portrait-up {
        margin-right: $extra-large-padding;
        padding: $larger-padding;
        flex-basis: calc(50% - #{$sheet-margin} / 2);
      }
    }
  }
  &.guide #main {
    .sheet {
      @include for-tablet-portrait-up {
        flex-basis: calc(100% - #{$sheet-margin});
      }
    }
  }
}
body:not(.ink-mode) {
  &.jobs-and-clients #main,
  &.config #config-form,
  &.reports #report-form,
  &.guide #main {
    .sheet {
      @include sheet-shadow;
    }
  }
  .btn-nav {
    @include float-shadow;
    &:active:not([disabled]),
    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      @include float-shadow;
    }
    &:active:not([disabled]) {
      @include box-shadow(none);
    }
  }
  fg-select {
    &[state="open"] {
      fg-options {
        @include high-shadow;
      }
    }
  }
}
body.guide #main {
  .sheet {
    background-color: $ddd-brightest;
    @include ddd-corners;
    z-index: $z-normal;
    width: 100%;
  }
  #icon-heading-worksheet,
  #icon-heading-reports,
  #icon-heading-jobs-and-clients,
  #icon-heading-settings,
  #icon-heading-minimise,
  #icon-heading-saving-your-work,
  #icon-heading-import,
  #icon-heading-sync,
  #icon-heading-mail-data,
  #icon-heading-wipe-data {
    font-weight: bold;
    @include icon-bg-defaults();
    background-position-x: 0;
    background-position-y: $medium-padding;
    padding-left: $icon-size + $larger-padding;
    &.guide-visible {
      color: $ddd-brightest-inverted;
    }
  }
  #icon-heading-jobs-and-clients {
    @include guide-icon-buttons($svg-icon-jobs-clients);
  }
  #icon-heading-reports {
    @include guide-icon-buttons($svg-icon-report);
  }
  #icon-heading-worksheet {
    @include guide-icon-buttons($svg-icon-worksheet);
  }
  #icon-heading-settings {
    @include guide-icon-buttons($svg-icon-settings);
  }
  #icon-heading-minimise {
    @include guide-icon-buttons($svgMenuShrink);
  }
  #icon-heading-saving-your-work {
    @include guide-icon-buttons($svg-icon-download);
  }
  #icon-heading-import {
    @include guide-icon-buttons($svg-icon-upload);
  }
  #icon-heading-sync {
    @include guide-icon-buttons($svg-icon-sync-data);
  }
  #icon-heading-mail-data {
    @include guide-icon-buttons($svg-icon-mail-data);
  }
  #icon-heading-wipe-data {
    @include guide-icon-buttons($svg-icon-fire);
  }
  h2 {
    color: $button-color;
  }
  h3 {
    margin-top: $extra-large-padding;
    margin-bottom: 0;
    color: $ddd-headingcolor-sub;
    font-size: $fontsize-secondary;
  }
  h4 {
    margin-top: $extra-large-padding + $large-padding;
    margin-bottom: $medium-padding;
    color: $ddd-headingcolor-main;
    font-size: $fontsize-tertiary;
    em {
      margin-right: $tiny-padding;
    }
  }
  fg-list {
    margin-bottom: $large-padding;
    &:first-of-type {
      h4 {
        margin-top: 0;
      }
    }
    li {
      list-style: none;
      background-size: 0.4rem;
      background-repeat: no-repeat;
      background-position: calc($large-padding / 2) $medium-padding;
      background-image: color-svg-icon($svg-bullet, $hashless-icon-color-main);
      padding-left: $larger-padding;
      margin-bottom: $large-padding;
      [class^="inline-icon-"]:first-child {
        margin-left: 0 - $small-padding;
      }
      em {
        display: block;
        color: $ddd-strongest;
      }
    }
  }
  #guide-col-technical {
    fg-list {
      li {
        font-size: $fontsize-tiny;
        background-position: calc($large-padding / 2) $small-padding;
      }
    }
  }
  [class^="inline-icon-"] {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    vertical-align: middle;
    background-size: 79%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: $medium-padding;
    margin-right: $medium-padding;
    margin-top: 0 - $small-padding;
    @include desaturate-if-mono;
  }
  .inline-icon-clock {
    background-image: color-svg-icon(
      $svg-icon-time,
      $hashless-input-color-time
    );
  }
  .inline-icon-money-positive {
    background-image: color-svg-icon(
      $svg-icon-money,
      $hashless-input-color-money
    );
  }
  .inline-icon-money-negative {
    background-image: color-svg-icon(
      $svg-icon-money,
      $hashless-input-color-money-negative
    );
  }
  .inline-icon-add-btn {
    background-image: color-svg-icon($svgIconAdd, $hashless-icon-color-main);
    @include interactable-over;
    @include ddd-corners;
    position: relative;
    margin-left: $date-width + $icon-size + $medium-padding;
    background-size: auto 50%;
    &:before {
      content: "23/12/23";
      height: 2rem;
      position: absolute;
      padding-top: 0.25rem;
      right: $icon-size-large;
      letter-spacing: 0.3rem;
      font-family: $number-font-family;
      color: $ddd-headingcolor-main;
      font-size: $fontsize-tertiary;
      font-weight: normal;
    }
  }
  .inline-icon-remove-icon {
    background-image: color-svg-icon($svgIconRemove, $hashless-icon-color-main);
  }
  .inline-icon-number-input {
    background-image: color-svg-icon($svgIconRemove, $hashless-icon-color-main);
  }
}
body.guide #main .sheet.attention,
.help-item,
.attention {
  background-color: $glow-vague-color-over;
  font-weight: bold;
  @include ddd-corners-full;
  padding: $larger-padding;
  h2 {
    color: $ddd-brightest-inverted;
    margin-top: 0;
  }
  li {
    color: $ddd-headingcolor-main;
    margin-bottom: $medium-padding;
  }
  em {
    color: $ddd-headingcolor-main;
    margin-right: $small-padding;
  }
  &:first-of-type {
    border-top-left-radius: 0;
    margin-top: $extra-large-padding;
    @include for-tablet-portrait-up {
      flex-basis: calc(50% - #{$sheet-margin});
      flex-grow: 0;
    }
  }
}

#nav-worksheet {
  top: 0;
  left: auto;
  right: 0;
  height: 0;
  position: fixed;
  fg-button:nth-of-type(2),
  fg-button:nth-of-type(4) {
    margin-right: 0;
  }
  @include for-tablet-landscape-up {
    fg-button:nth-of-type(2),
    fg-button:nth-of-type(4) {
      margin-right: $extra-large-padding;
    }
  }
  p {
    display: none;
    vertical-align: top;
    color: $button-color;
    background-color: $ddd-brightest;
    height: $worksheet-nav-height;
    line-height: $worksheet-nav-height;
    font-size: $fontsize-secondary;
    font-weight: 700;
    display: inline-block;
    padding: 0 $large-padding;
    @include for-tablet-landscape-up {
      display: inline-block;
    }
  }
  .btn-nav {
    &:active {
      transform-origin: top;
    }
  }
  #today-jump-btn,
  #month-next-btn,
  #week-next-btn,
  #month-prev-btn,
  #week-prev-btn {
    vertical-align: top;
    @include icon-bg-defaults();
    background-size: $icon-bg-size-worksheet-nav;
    text-indent: $hide-indent;
    display: inline-block;
    height: $icon-size;
    overflow: hidden;
    @include ddd-corners-bottom;
  }
  #week-next-btn {
    background-image: color-svg-icon(
      $svgIconArrowDownSmall,
      $hashless-icon-color-main
    );
    background-position-y: 0rem;
  }
  #week-prev-btn {
    background-image: color-svg-icon(
      $svgIconArrowUpSmall,
      $hashless-icon-color-main
    );
  }
  #month-next-btn {
    background-image: color-svg-icon(
      $svgIconArrowDown,
      $hashless-icon-color-main
    );
    background-position-y: 0rem;
  }
  #month-prev-btn {
    background-image: color-svg-icon(
      $svgIconArrowUp,
      $hashless-icon-color-main
    );
  }
  #today-jump-btn {
    background-size: $icon-bg-size;
    background-image: color-svg-icon($svgIconNow, $hashless-icon-color-main);
    height: 3rem;
    &[disabled],
    &:active[disabled],
    &:hover[disabled],
    &:focus[disabled] {
      pointer-events: none;
      :before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $glow-vague-color;
        opacity: 0.8;
        pointer-events: all;
        cursor: default;
      }
    }
  }
}

#nav-main {
  top: calc(3rem + #{$larger-padding} * 2);
  height: 30rem;
  width: $sidebar-width;
  @include for-tablet-portrait-up {
    top: calc(4rem + #{$larger-padding} * 2);
  }
  @include for-tablet-landscape-up {
    top: calc(6rem + #{$larger-padding} * 2);
    height: 38rem;
  }
  @include for-desktop-up {
    top: calc(6rem + #{$larger-padding} * 2);
    height: 48rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-between;

  .btn-nav {
    display: block;
    @include icon-bg-defaults();
    background-position: $medium-padding;
    flex-grow: 1;
    flex-shrink: 0;
    label,
    &#ui-import-file + label {
      display: inline-block;
    }
    label,
    &#ui-import-file + label > span {
      pointer-events: none;
      top: calc(50% - (#{$nav-item-size} / 2));
      position: absolute;
    }
    &.guide-visible {
      label {
        color: $ddd-brightest-inverted;
      }
    }
    &#ui-import-file + label {
      &.guide-visible {
        color: $ddd-brightest-inverted;
      }
    }
  }

  &.minimised {
    width: $icon-size;
    .btn-nav,
    #ui-import-file,
    #ui-import-file + label,
    .btn-nav label {
      width: $icon-size;
    }
    #ui-import-file + label,
    .btn-nav label {
      padding-right: 0;
    }
  }

  input[type="checkbox"]#ui-menu-minimise {
    display: none;
    + label {
      display: inline-block;
      text-indent: $hide-indent;
      cursor: pointer;
      padding: 0;
      flex-grow: 0;
      flex-shrink: 0;
      height: $icon-size-large;
      width: $icon-size;
    }
    + label:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      @include icon-bg-defaults();
      width: $icon-size-large;
      height: $icon-size-large;
      background-position: 0.1rem;
      background-size: 1.6rem;
    }
    + label {
      @include guide-icon-buttons($svgMenuShrink, ":after");
    }
    &:checked {
      + label {
        @include guide-icon-buttons($svgMenuExpand, ":after");
      }
    }
  }
}

.btn-nav {
  font-size: $fontsize-tertiary;
  font-weight: 700;
  text-align: left;
  height: $nav-item-size;
  line-height: $nav-item-size;
  position: relative;
  @include interactable;
  color: $ddd-headingcolor-sub;
  display: inline-block;
  padding: 0;
  padding-left: $icon-size-large;
  @include for-tablet-portrait-up {
    padding-left: $icon-size + $large-padding;
  }
  @include for-tablet-landscape-up {
    padding-left: $icon-size-large + $medium-padding;
  }
  cursor: pointer;
  border: none;
  @include ddd-corners-right;
  overflow: hidden;

  &.help-demo-btn,
  &.text-btn {
    padding: $large-padding $extra-large-padding;
    text-align: center;
    font-size: $fontsize-default;
    line-height: $fontsize-default;
    height: fit-content;
    label {
      text-transform: capitalize;
    }
  }
  &.help-demo-btn {
    font-size: $fontsize-tertiary;
    padding: $medium-padding;
    padding-left: calc(#{$extra-large-padding} + #{$medium-padding});
    //padding-right: $larger-padding;
    @include icon-bg-defaults();
    background-position: $medium-padding;
    @include guide-icon-buttons($svg-icon-help-demo);
  }
  &[disabled],
  &:active[disabled],
  &:hover[disabled],
  &:focus[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }
  &:active:not([disabled]),
  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    @include interactable-over;
    z-index: $z-cover;
  }
  &:active:not([disabled]) {
    transform-origin: left;
    transform: scale(0.95);
  }

  &#ui-jobs-and-clients {
    @include guide-icon-buttons($svg-icon-jobs-clients);
  }
  &#ui-reports {
    @include guide-icon-buttons($svg-icon-report);
  }
  &#ui-worksheet {
    @include guide-icon-buttons($svg-icon-worksheet);
  }
  &#ui-config {
    @include guide-icon-buttons($svg-icon-settings);
  }
  &#ui-clear-data {
    @include guide-icon-buttons($svg-icon-fire);
  }
  &#ui-export-file {
    @include guide-icon-buttons($svg-icon-download);
  }
  &#ui-mail-data {
    @include guide-icon-buttons($svg-icon-mail-data);
  }
  &#ui-sync-data {
    @include guide-icon-buttons($svg-icon-sync-data);
  }
  &#ui-import-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    flex-grow: 0;
    + label {
      position: relative;
      @include guide-icon-buttons($svg-icon-upload);
    }
  }
}

#logo-main {
  top: -0.7rem;
  left: -1.2rem;
  padding-top: 0;
  width: 5.5rem;
  height: 5.5rem;
  @include for-tablet-portrait-up {
    width: 7rem;
    height: 7rem;
  }
  @include for-tablet-landscape-up {
    width: 8rem;
    height: 8rem;
  }
  background-image: $svg-logo;
  background-position: top left;
  background-repeat: no-repeat;
  transform: rotate(13deg);
  @include logo-filters;
  background-size: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-ui;
    background-image: $svg-logo-eye;
    background-position: top left;
    background-repeat: no-repeat;
    @include logo-filters;
    background-size: 100%;
  }
}

#nav-worksheet.minimised {
  p {
    display: none;
  }
}

#loading-indicator {
  position: fixed;
  z-index: $z-cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20% 0;
  color: $button-bgcolor;
  font-weight: bold;
  text-transform: lowercase;
  background-color: $panel-bg-color;
  text-align: center;
  span,
  em {
    position: absolute;
    display: inline-block;
    @include ddd-corners;
    width: 50%;
    height: 1.3rem;
    left: calc(25% + (#{$sidebar-width} / 2));
    top: 40%;
  }
  span {
    background-color: $ddd-strong;
  }
  em {
    z-index: $z-float;
    width: calc(50% - #{$small-padding});
    margin-right: 2rem;
    padding: 0.4rem;
    background-color: $ddd-intense;
    background-clip: content-box;
  }
  &.maximised {
    span,
    em {
      left: calc(25% + (#{$icon-size} / 2));
    }
  }
}

#main {
  position: relative;
  background-color: $ddd-brightest;
  overflow-y: auto;
  overflow-x: hidden;

  padding-top: $extra-large-padding;
  padding-bottom: $bottom-padding;
  padding-left: $icon-size + $larger-padding;
  padding-right: 0;
  @include for-tablet-portrait-up {
    padding-left: calc(#{$sidebar-width} + #{$larger-padding});
  }
  @include for-tablet-landscape-up {
    padding: $extra-large-padding;
    padding-left: calc(#{$sidebar-width} + (#{$extra-large-padding} * 2));
    padding-right: 0;
  }
  &.maximised {
    @include for-tablet-portrait-up {
      padding-left: calc(
        #{$sidebar-width-minimised} + (#{$extra-large-padding} * 2)
      );
    }
  }
  h1,
  h2 {
    padding: $large-padding 0 $large-padding 0;
  }
  h1 {
    color: $ddd-headingcolor-main;
  }
  h2 {
    color: $ddd-headingcolor-sub;
    padding-bottom: $extra-large-padding;
    font-size: $fontsize-secondary;
    font-weight: normal;
    line-height: $larger-padding;
  }
}

.remove-item-btn,
.add-item-btn {
  padding: 1rem;
  cursor: pointer;
  width: 4rem;
  label {
    @include ddd-corners;
    border: none;
    @include icon-bg-defaults();
    background-position: 54% 48%;
    display: inline-block;
    text-indent: $hide-indent;
    text-align: left;
    padding: 0.4rem 0.5rem 0.5rem 0.5rem;
    color: $button-color;
    @include interactable;
    position: relative;
    pointer-events: none;
    @include desaturate-if-mono;
  }
  &:hover,
  &:focus {
    label {
      color: $button-color-over;
      @include interactable-over;
    }
  }
}
.add-item-btn {
  position: absolute;
  label {
    height: $icon-size;
    width: $icon-size;
    background-image: color-svg-icon($svgIconAdd, $hashless-icon-color-main);
    background-size: $icon-bg-size-small;
  }
}
.remove-item-btn {
  label {
    height: $icon-size;
    width: $icon-size;
    background-image: color-svg-icon($svgIconRemove, $hashless-icon-color-main);
    background-size: 1.15rem;
    color: $ddd-negativecolor;
  }
  position: absolute;
  flex-shrink: 1;
  margin-top: -1rem;
  right: -3.4rem;
  @include for-tablet-landscape-up {
    right: 0 - $sheet-margin;
  }
  display: none;
}

#worksheet-container.sheet {
  width: 100%;
  text-align: right;
  > li {
    position: relative;
    clear: both;
  }
}

#worksheet-container,
#clients-existing,
#jobs-existing {
  z-index: $z-normal;
  display: block;
}

#worksheet-container {
  padding-right: 0;
  > h1,
  > h2 {
    text-align: left;
    font-size: $fontsize-h1;
    line-height: $fontsize-h1;
    color: $ddd-headingcolor-main;
    margin-top: $extra-large-padding;
    margin-bottom: $extra-large-padding * 2;
    max-width: 50%;
    @include for-tablet-portrait-up {
      max-width: initial;
    }
  }
  > h1 {
    float: left;
    color: $ddd-headingcolor-sub;
    font-weight: normal;
    padding-left: $larger-padding + $small-padding;
  }
  > h2 {
    float: right;
    font-weight: bold;
    padding-right: $sheet-right-padding-mobile + $large-padding;
    text-align: right;
    @include for-tablet-portrait-up {
      padding-right: $sheet-right-padding + $large-padding;
      text-align: left;
    }
  }
  h3 {
    padding-left: $extra-large-padding;
    @include for-tablet-landscape-up {
      padding-left: 6rem;
    }
  }
  > li {
    &.day {
      display: flex;
      flex-wrap: wrap;
      text-align: right;
      border-top: solid $day-border-width $ddd-medium;
      .date {
        font-family: $number-font-family;
        color: $ddd-headingcolor-main;
        font-size: $fontsize-tertiary;
        font-weight: normal;
        position: relative;
        width: 100%;
        min-height: 3.4rem;
        text-align: right;
        padding-top: 0.7rem;
        padding-bottom: 0.4rem;
        padding-left: 3rem;
        @include for-tablet-portrait-up {
          padding-left: 6rem;
        }
        padding-right: $sheet-right-padding-mobile + ($medium-padding * 1);
        @include for-tablet-portrait-up {
          padding-right: $sheet-right-padding + ($medium-padding * 1);
        }
        letter-spacing: 0.245rem;
        cursor: pointer;
        text-transform: uppercase;
        > em {
          // used for weekday letter label
          @include ddd-corners;
          font-style: normal;
          color: $ddd-headingcolor-main;
          margin-right: $large-padding;
          padding: calc($large-padding / 2) 0.2rem calc($large-padding / 2)
            ($small-padding + $tiny-padding);
          position: absolute;
          left: 0.9rem;
          top: 0.4rem;
          line-height: calc(
            #{$fontsize-tertiary} + (#{$interactable-border-width} * 2)
          );
          font-size: $fontsize-tertiary;

          // clip by number of letters
          overflow: hidden;
          text-overflow: clip;
          // number of chars + left+right padding
          width: calc(1ch + (#{$small-padding} + #{$medium-padding}));
          // use large letter spacing to push extra characters outside overflow
          letter-spacing: 1em;
          @include for-tablet-portrait-up {
            width: initial;
            letter-spacing: inherit;
          }
        }
        > span {
          height: calc(#{$icon-size} + (#{$interactable-border-width} * 2));
          line-height: calc(
            #{$icon-size} + (#{$interactable-border-width} * 2)
          );
          display: inline-block;
          margin-top: -0.4rem;
          em {
            display: inline-block;
            font-size: $fontsize-tiny;
            line-height: $fontsize-secondary;
            letter-spacing: 0.2rem;
            color: $ddd-strongest;
            vertical-align: text-top;
          }
        }
        + .add-item-btn {
          top: -0.5rem;
          right: $small-padding + $tiny-padding;
          display: none;
          pointer-events: none;
        }
        &:hover,
        &:focus,
        &:active {
          color: $ddd-brightest-inverted;
          background-color: $ddd-brightest;
          > em {
            color: $ddd-brightest-inverted;
            background-color: $glow-vague-color-over;
          }
          + .add-item-btn {
            display: inline-block;
            label {
              @include interactable-over;
              background-color: $glow-vague-color-over;
            }
          }
        }
        &:active {
          + .add-item-btn {
            label {
              @include interactable-over;
            }
          }
        }
      }
      &:nth-of-type(even),
      &:nth-of-type(odd) {
        &.today {
          .date,
          .date.weekend {
            span:first-of-type {
              font-weight: bold;
            }
            > em {
              background-color: $ddd-intense;
              color: $button-bgcolor;
            }
          }
        }
      }
      &:nth-of-type(odd),
      &:nth-of-type(even) {
        .date {
          &.weekend {
            color: $ddd-stronger;
            > em {
              color: $ddd-stronger;
            }
            &:focus,
            &:hover,
            &:active {
              color: $ddd-brightest-inverted;
              > em {
                color: $ddd-brightest-inverted;
                background-color: $glow-vague-color-over;
              }
            }
          }
        }
      }
      &:hover,
      &:focus-within {
        .remove-item-btn {
          display: inline-block;
        }
      }
    }
    &.today,
    &.special-day,
    &.week-start,
    &.month-start {
      .date {
        span {
          /* used for 'TODAY' text etc */
          text-align: right;
          margin-left: $medium-padding;
          @include for-tablet-portrait-up {
            margin-left: $larger-padding;
          }
        }
      }
    }
    &.today {
      .date {
        span {
          color: $ddd-intense;
        }
      }
    }
    &.week-start {
      border-top: solid $week-start-border-width $ddd-strong;
      .date {
        span:first-of-type {
          float: left;
          margin-left: 0;
          color: $ddd-headingcolor-sub;
          &:before {
            content: "WK";
            @include for-tablet-portrait-up {
              content: "WEEK ";
            }
          }
        }
        em {
          color: $ddd-headingcolor-main;
        }
      }
    }
    &.month-start {
      border-top: solid $month-start-border-width $ddd-headingcolor-sub;
      .date {
        span {
          color: $ddd-negativecolor;
        }
      }
      h4 {
        display: block;
        position: absolute;
        width: 100%;
        text-align: left;
        color: $ddd-headingcolor-main;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }

  ul.entries {
    margin-left: $medium-padding;
    display: inline-block;
    position: relative;
    flex-grow: 2;

    > li {
      /* WORKSHEET ENTRY ITEM */
      display: grid;
      grid-template-columns: 100%;
      grid-column-gap: $small-padding;
      grid-row-gap: $small-padding;
      @include for-tablet-landscape-up {
        grid-template-columns: repeat(6, 1fr);
      }
      @include for-desktop-up {
        grid-template-columns: repeat(13, 1fr) $number-input-min-width;
      }
      @include for-big-desktop-up {
        grid-template-columns: repeat(2, $select-max-width) auto $number-input-min-width;
      }
      position: relative;
      margin-right: $sheet-right-padding-mobile;
      @include for-tablet-portrait-up {
        margin-right: $sheet-right-padding;
      }
      margin-bottom: $medium-padding * 2;
      &:first-of-type {
        margin-top: $large-padding;
      }
      &:last-of-type {
        margin-bottom: $extra-large-padding;
      }

      fg-number-input {
        grid-column: 1;
        grid-row: 4;
        @include for-tablet-landscape-up {
          grid-column: 5 / span 2;
          grid-row: 2;
        }
        @include for-desktop-up {
          grid-column: 14;
          grid-row: 1;
          width: $number-input-min-width;
        }
        @include for-big-desktop-up {
          grid-column: 4;
        }
      }

      input[type="checkbox"].switch {
        display: none;
        + label {
          position: absolute;
          right: -3rem;
          bottom: 0.06rem;
          @include for-tablet-landscape-up {
            top: 2.2rem;
            bottom: initial;
          }
          @include for-desktop-up {
            top: 0;
            bottom: initial;
          }
          @include interactable;
          display: inline-block;
          width: $icon-size;
          height: $icon-size;
          border-radius: $ddd-corner-size;
          margin: 0 $medium-padding 0;
          padding: 0.6em 0.5em;
          cursor: pointer;
          background-position: 56% 50%;
          background-size: $icon-bg-size-switch;
          background-repeat: no-repeat;
          background-image: color-svg-icon(
            $svg-icon-time,
            $hashless-input-color-time
          );

          &:focus,
          &:hover {
            @include interactable-over;
          }
        }

        &:checked + label {
          background-image: color-svg-icon(
            $svg-icon-money,
            $hashless-input-color-money
          );
        }
      }

      &.money {
        //fg-spinner.unit-big,
        //fg-spinner.unit-small {
        //  background-size: 100%;
        //}
        fg-number-input input[type="text"],
        textarea.notes {
          color: $input-color-money;
        }
        textarea.notes {
          @include placeholder-attrs {
            opacity: 1;
            color: $input-color-money-placeholder;
          }
        }
        &.negative {
          fg-number-input input[type="text"],
          textarea.notes {
            color: $input-color-money-negative;
          }
          textarea.notes {
            @include placeholder-attrs {
              opacity: 1;
              color: $input-color-money-negative-placeholder;
              background-color: $ddd-brightest;
            }
          }
          input[type="checkbox"].switch:checked + label {
            background-image: color-svg-icon(
              $svg-icon-money,
              $hashless-input-color-money-negative
            );
          }
        }
        &.positive {
          fg-number-input input[type="text"],
          textarea.notes {
            color: $input-color-money-positive;
          }
          textarea.notes {
            @include placeholder-attrs {
              opacity: 1;
              color: $input-color-money-positive-placeholder;
              background-color: $ddd-brightest;
            }
          }
          input[type="checkbox"].switch:checked + label {
            background-image: color-svg-icon(
              $svg-icon-money,
              $hashless-input-color-money-positive
            );
          }
        }
      }

      &.hrs {
        fg-number-input input[type="text"],
        textarea.notes {
          color: $ddd-brightest-inverted;
        }
      }

      textarea {
        grid-column: 1;
        grid-row: 3;
        @include for-tablet-landscape-up {
          grid-column: 1 / span 4;
          grid-row: 2;
        }
        @include for-desktop-up {
          grid-column: 9 / span 5;
          grid-row: 1;
        }
        @include for-big-desktop-up {
          grid-column: 3;
        }
        display: inline-block;
        font-size: $fontsize-secondary;
        line-height: $fontsize-secondary;
        @include interactable;
        @include ddd-corners;
        @include desaturate-if-mono;
        text-align: left;
        height: $icon-size;
        min-height: $icon-size;
        overflow: hidden;
        resize: none;
        padding: $small-padding $medium-padding $small-padding $large-padding;
        //-webkit-appearance: none;
        @include no-native-styling;
        &:hover,
        &:focus,
        &:focus-within {
          @include interactable-over;
        }
      }

      textarea.notes {
        // transparent to match placeholder and avoid layout shifting
        border: solid $placeholder-border-width transparent;
        &.placeholder {
          border: solid $placeholder-border-width $placeholder-border-color;
        }
        @include placeholder-attrs {
          opacity: 1;
          font-style: italic;
          // !important is necessary for placeholder text
          // otherwise the non-placeholder colour of the element overrides it
          color: $placeholder-color !important;
        }
        &:hover,
        &:focus,
        &:focus-within {
          @include interactable-over;
          @include placeholder-attrs {
            color: $ddd-headingcolor-main !important;
          }
        }
      }

      fg-select.select-job {
        &:after {
          content: "";
          clear: both;
        }
      }
    }
  }

  > li.totals-week,
  > li.totals-month,
  > li.totals-year,
  > li.summary,
  > li.totals-week:hover,
  > li.totals-month:hover,
  > li.totals-year:hover,
  > li.summary:hover {
    position: relative;
    color: $ddd-headingcolor-sub;
    list-style: none;
    overflow: auto; // hack to force parent (this) height to fit child elements
    font-size: $fontsize-secondary;
    text-align: right;
    margin-bottom: $extra-large-padding * 4;
    margin-top: $extra-large-padding * 2;
    padding-top: $small-padding;
    padding-bottom: (2 * $extra-large-padding);
    padding-right: $sheet-right-padding-mobile;
    @include for-tablet-portrait-up {
      padding-right: $sheet-right-padding;
    }
    padding-left: $larger-padding;
    h4,
    h5,
    h6,
    table {
      display: inline-block;
      margin-top: $extra-large-padding;
    }
    table > tr > td {
      padding-bottom: $medium-padding;
      @include for-tablet-portrait-up {
        padding-right: (2 * $extra-large-padding) + $medium-padding;
      }
      vertical-align: baseline;
      &.total-daysworked,
      &.total-hoursworked,
      &.total-income,
      &.total-spend,
      &.total-profit {
        font-family: $number-font-family;
        font-size: $fontsize-h2;
        padding-left: $large-padding;
        @include for-tablet-portrait-up {
          padding-left: $extra-large-padding;
        }
        padding-right: 0.75rem;
        color: $ddd-strongest;
      }
      &.total-profit.negative {
        color: $ddd-negativecolor;
      }
      &.total-profit.positive {
        color: $ddd-positivecolor;
      }
      &.total-daysworked {
        padding-bottom: $extra-large-padding;
        em {
          @include large-fraction;
          font-size: $fontsize-display;
          bottom: -0.25rem;
          margin: 0 0.35rem 0 0.1rem;
        }
      }
    }
    h5,
    h6 {
      color: $ddd-headingcolor-main;
      font-style: italic;
      width: 100%;
      text-align: right;
      margin: 0;
      padding-right: $medium-padding + $small-padding;
      @include for-tablet-portrait-up {
        text-align: left;
        padding-right: 0;
      }
    }
    h5 {
      font-size: $fontsize-secondary;
      margin-bottom: $tiny-padding;
    }
    h6 {
      clear: both;
      color: $ddd-headingcolor-sub;
    }
    &:last-of-type {
      border-bottom: none;
    }
    &.dimmed {
      pointer-events: none;
      opacity: 0.4;
      table {
        opacity: 0.3;
      }
    }
  }
  > li.totals-year {
    margin-top: $top-padding;
  }
  &.weekly {
    > li {
      &.week-start {
        margin-top: $extra-large-padding * 2;
      }
    }
  }
  &.monthly {
    > li {
      &.month-start {
        margin-top: $extra-large-padding + $top-padding;
      }
    }
  }
}

#clients-existing,
#jobs-existing {
  pointer-events: none;
  position: relative;
  padding: 0;
  min-width: $sheet-clients-jobs-min-width;
  h1 {
    text-transform: capitalize;
    margin-left: calc((#{$icon-size}) + #{$larger-padding} * 2);
    padding-top: $small-padding;
    margin-bottom: $extra-large-padding;
  }
  .text-btn,
  .add-item-btn {
    pointer-events: all;
  }
  .text-btn {
    //padding: $large-padding;
    @include icon-bg-defaults();
    padding: $large-padding;
    padding-left: calc(#{$extra-large-padding} + #{$medium-padding});
    background-position: $large-padding;
    background-image: color-svg-icon($svgIconRemove, $hashless-icon-color-main);
    background-size: 1.15rem;
  }
  .add-item-btn {
    left: $large-padding + $medium-padding;
    top: $tiny-padding;
    padding-left: 0;
    width: 100%;
    label {
      height: $icon-size * 1.5;
      width: $icon-size * 1.5;
      background-size: $icon-size * 0.9;
    }
    &:hover + h1 {
      color: $button-color-over;
    }
  }
  fg-list.clients,
  fg-list.jobs {
    display: block;
    position: relative;
    > li {
      display: block;
      padding-bottom: $extra-large-padding;
      @include bordered-list;
      @include desaturate-if-mono;
      position: relative;
      .remove-item-btn {
        right: 0;
        margin-right: 0 - $large-padding;
        pointer-events: all;
        display: inline-block;
      }
      &:only-of-type .remove-item-btn {
        visibility: hidden;
      }
      span {
        display: inline-block;
        fg-color-picker + label {
          margin-right: $medium-padding;
          @include outer-border(
            $interactable-border-width,
            $button-bgcolor-over
          );
          pointer-events: all;
        }
      }
      input[type="text"] {
        vertical-align: top;
        font-size: $fontsize-secondary;
        font-weight: bold;
        height: $icon-size;
        line-height: $icon-size;
        display: inline-block;
        min-width: 7rem;
        width: calc(100% - (#{$icon-size} * 3) - (#{$large-padding} * 6));
        @include ddd-corners;
        //-webkit-appearance: none;
        @include no-native-styling;
        padding-left: $large-padding;
        margin-right: $larger-padding;
        margin-bottom: $larger-padding;
        background-color: inherit;
        color: inherit;
        @include outer-border($interactable-border-width, $button-bgcolor-over);
        pointer-events: all;
        text-overflow: ellipsis;
      }
    }
  }
}

fg-number-input {
  pointer-events: all;
  position: relative;
  display: inline-block;
  border: none;
  height: 2rem;
  padding: 0;
  padding-right: $large-padding;
  @include interactable;
  @include ddd-corners;
  @include desaturate-if-mono;
  .spinner {
    fg-spinner.unit-big,
    fg-spinner.unit-small {
      position: relative;
      display: inline-block;
      width: 3rem;
      height: 2rem;
      background-color: pink;
      padding: 0;
      padding-right: $large-padding;
    }
    fg-spinner.unit-big {
      text-align: right;
    }
    fg-spinner.unit-small {
      text-align: center;
    }
  }
  > input[type="text"] {
    position: absolute;
    display: inline-block;
    height: 2rem;
    width: 100%;
    left: 0;
    z-index: $z-float;
    padding: 0;
    padding-right: $large-padding;
    font-family: $number-font-family;
    font-size: $fontsize-h2;
    text-align: right;
    @include ddd-corners;
    //-webkit-appearance: none;
    @include no-native-styling;
    background-color: $ddd-brightest;
    border: solid $placeholder-border-width $placeholder-border-color;
  }
  &.placeholder {
    > input[type="text"] {
      color: $placeholder-color !important;
    }
  }
  &:hover,
  &:focus-within {
    @include interactable-over;
    z-index: $z-cover;
    .spinner {
      .spin-button-up,
      .spin-button-down {
        display: inline-block;
      }
    }
    > input[type="text"] {
      @include ddd-corners-left-full;
      background-color: $glow-vague-color-over;
      border: solid $placeholder-border-width $glow-vague-color-over;
    }
    &.placeholder {
      > input[type="text"] {
        color: $ddd-headingcolor-main !important;
      }
    }
  }
}

fg-select,
input,
textarea,
fg-button {
  border: none;
}
fg-select {
  grid-column: 1;
  grid-row: 1;
  &:last-of-type {
    grid-row: 2;
  }
  @include for-tablet-landscape-up {
    grid-column: 1 / span 4;
    grid-row: 1;
    &:last-of-type {
      grid-row: 1;
      //grid-column: 4 / span 3;
      grid-column: 5 / span 2;
    }
  }
  @include for-desktop-up {
    grid-column: 1 / span 4;
    grid-row: 1;
    &:last-of-type {
      grid-column: 5 / span 4;
      grid-row: 1;
    }
  }
  @include for-big-desktop-up {
    grid-column: 1;
    &:last-of-type {
      grid-column: 2;
    }
  }
  font-family: $bold-font-family;
  @include interactable;
  cursor: pointer;
  height: $icon-size;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: left;
  @include ddd-corners;
  &:hover:not(&[state="open"]) {
    color: $button-color-over;
    @include interactable-over;
  }
  > fg-button.btn-nav {
    display: none;
    position: absolute;
    z-index: $z-cover;
    top: calc((#{$icon-size} - #{$icon-size-large}) / 2);
    right: 0 - $icon-size-large;
    padding-left: $icon-size-large;
    height: $icon-size-large;
    width: 0;
    @include icon-bg-defaults();
    background-image: color-svg-icon(
      $svg-icon-jobs-clients,
      $hashless-icon-color-main
    );
    background-position: 50% 50%;
    background-size: $icon-size;
  }
  fg-options {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    @include desaturate-if-mono;
    fg-option {
      font-size: $fontsize-secondary;
      height: $icon-size;
      line-height: $icon-size;
      padding-left: $large-padding;
      display: none;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $ddd-brightest-inverted;
      background-color: $ddd-brightest;
      border: solid $placeholder-border-width $placeholder-border-color;

      &:hover,
      &:focus {
        @include interactable-over;
        z-index: $z-float;
      }

      &[hidden] {
        font-style: italic;
        color: $placeholder-color;
      }

      &[selected] {
        display: block;
        @include ddd-corners;
      }
    }
  }
  &[state="open"] {
    z-index: $z-ui;
    &:hover {
      @include interactable;
    }
    > fg-button.btn-nav {
      display: inline-block;
    }
    fg-options {
      z-index: $z-ui;
      @include ddd-corners;
      fg-option {
        display: block;
        &[hidden] {
          display: none;
        }
        &[selected] {
          @include interactable-over;
          @include border-radius(0);
          z-index: $z-cover;
        }
        &:last-child {
          @include ddd-corners-bottom;
        }
      }
      // select first non-hidden child
      fg-option:not([hidden]):first-child,
      fg-option[hidden] + fg-option:not([hidden]) {
        @include ddd-corners-top;
      }
    }
  }
}

body.worksheet #worksheet-footer,
body.reports #report-form,
body.config #config-form,
.popover-form-2col,
.popover-form-3col,
.help-item {
  pointer-events: none;
  textarea,
  fg-date-picker,
  fg-radio-button-group {
    display: block;
  }
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
    + label {
      pointer-events: all;
      width: 100%;
      @include ddd-corners;
      display: inline-block;
      text-align: right;
      line-height: 1.8rem;
      padding-right: $larger-padding * 3;
      position: relative;
      margin-bottom: $larger-padding;
      cursor: pointer;
      em {
        display: block;
        font-style: normal;
        font-size: $fontsize-tertiary;
        line-height: $fontsize-tertiary;
        color: $ddd-stronger;
      }
    }
    + label:after {
      content: "";
      @include icon-bg-defaults();
      background-image: color-SVG-two-color(
        $svgRadioBtn,
        $icon-color-main,
        $transparent-rgba
      );
      width: $icon-size-large + $medium-padding;
      display: inline-block;
      background-position: right;
      background-size: 2rem;
      height: $icon-size-large;
      position: absolute;
      top: -0.3rem;
    }
    &:hover + label:after {
      background-image: color-SVG-two-color(
        $svgRadioBtn,
        $icon-color-main,
        $glow-vague-color-over-str
      );
    }
    &:checked + label:after {
      background-image: color-SVG-two-color(
        $svgRadioBtnChecked,
        $icon-color-main,
        $glow-vague-color-over-str
      );
      &:hover + label:after {
        background-image: color-SVG-two-color(
          $svgRadioBtnChecked,
          $icon-color-main,
          $glow-vague-color-over-str
        );
      }
    }
  }
  input[type="checkbox"] {
    + label:after {
      background-image: color-SVG-two-color(
        $svgCheckbox,
        $icon-color-main,
        $transparent-rgba
      );
    }
    &:hover + label:after {
      background-image: color-SVG-two-color(
        $svgCheckbox,
        $icon-color-main,
        $glow-vague-color-over-str
      );
    }
    &:checked + label:after {
      background-image: color-SVG-two-color(
        $svgCheckboxChecked,
        $icon-color-main,
        $glow-vague-color-over-str
      );
      &:hover + label:after {
        background-image: color-SVG-two-color(
          $svgCheckboxChecked,
          $icon-color-main,
          $glow-vague-color-over-str
        );
      }
    }
  }
  textarea,
  input {
    pointer-events: all;
    text-align: right;
    color: $config-input-color;
    background-color: $config-input-bg-color;
    display: inline-block;
    @include ddd-corners;
    padding: $medium-padding $larger-padding $medium-padding $larger-padding;
  }
}

#worksheet-footer {
  @include ddd-corners-left;
  margin-bottom: $top-padding;
  margin-right: $sheet-right-padding-mobile;
  @include for-tablet-portrait-up {
    margin-right: $sheet-right-padding;
  }
  padding: $large-padding $large-padding $extra-large-padding $large-padding;
  display: flex;
  font-size: $fontsize-tertiary;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include for-print {
    display: none;
  }

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
  > h2 {
    font-size: $fontsize-h2;
    display: block;
    padding-left: $extra-large-padding;
  }
  #quicksettings-group-totals,
  fg-radio-button-group {
    flex-grow: 1;
    font-size: inherit;
    width: $select-width;
    margin-left: $large-padding;
    width: calc(50% - #{$large-padding});
    h2 {
      margin-bottom: 0;
      text-align: right;
    }
    input[type="checkbox"],
    input[type="radio"] {
      + label {
        vertical-align: top;
        line-height: 1.4rem;
        padding-left: $extra-large-padding;
        padding-right: 3.5rem;
        margin-bottom: $larger-padding;
        font-size: inherit;
      }
      + label:after {
        top: -0.7rem;
        right: 0;
      }
    }
  }
  .btn-nav {
    pointer-events: all;
    margin-top: $extra-large-padding;
    margin-bottom: $extra-large-padding;
    &:active {
      transform-origin: right;
    }
    label {
      cursor: pointer;
      line-height: $fontsize-display;
    }
  }
}

body.reports #report-form,
body.config #config-form {
  display: flex;
  .sheet {
    font-size: $fontsize-default;
    input[type="text"] {
      color: $ddd-brightest-inverted;
    }
    text-align: right;
    label,
    p {
      margin-bottom: $large-padding;
      display: block;
      text-align: left;
    }
    label[for="yearStartDate"],
    h2 {
      margin-top: $extra-large-padding;
    }
    fg-radio-button-group > label,
    fg-checkbox-group > label,
    input[type="checkbox"] + label,
    > label,
    > span#config-group-startdate,
    h2 {
      margin-right: $medium-padding;
      text-align: right;
      display: inline-block;
      em {
        display: block;
        font-style: normal;
        color: $ddd-stronger;
        // ems not rems as they should be proportional to parent
        line-height: 1.3em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
    }
    label[for="yearStartDate"] {
      display: block;
      margin-bottom: 0;
      text-align: right;
      color: $ddd-headingcolor-sub;
      padding: $large-padding 0 $extra-large-padding 0;
      font-size: $fontsize-secondary;
      font-weight: normal;
      line-height: $fontsize-display;
    }
  }
}

body.config #config-form {
  // config group wrappers (eg "appearance")
  > span.sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    min-width: $sheet-clients-jobs-min-width;
    h1 {
      width: 100%;
      flex-basis: 100%;
      margin-right: calc(#{$large-padding} + #{$small-padding});
    }
    h2 {
      display: block;
      margin-right: calc(#{$large-padding} + #{$small-padding});
    }
    span#config-col-sync {
      min-width: initial;
      margin-right: calc(-1 * (#{$large-padding} + #{$small-padding}));
      h2 {
        margin-right: 0;
        color: $ddd-headingcolor-main;
      }
      input {
        max-width: 100%;
      }
    }
    > span,
    fg-radio-button-group,
    fg-checkbox-group {
      flex-grow: 1;
      flex-basis: calc(50% - #{$top-padding});
      margin-left: $top-padding;
      margin-bottom: $top-padding;
    }
    fg-number-input {
      width: 5rem;
    }
  }
}

body.jobs-and-clients,
body.config {
  .sheet {
    h2 {
      font-size: $fontsize-h2;
      font-weight: bold;
      display: block;
    }
  }
}
body.jobs-and-clients {
  .sheet {
    h2 {
      text-transform: capitalize;
    }
  }
}

.spinner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  .spin-button-up,
  .spin-button-down {
    cursor: pointer;
    position: absolute;
    display: none;
    height: 0.5rem;
    line-height: 0rem;
    @include interactable;
    background-color: transparent;
    text-align: center;
    font-size: $fontsize-tertiary;
    border: none;
    z-index: $z-normal;
    @include prevent-selection-highlight;
    @include no-mobile-touch-highlight;
    &:hover,
    &:focus {
      @include interactable-over;
      color: $ddd-intense;
    }
  }
  .spin-button-up,
  .spin-button-down {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .spin-button-up {
    top: -1.9rem;
    @include border-radius(
      $spin-button-curve-radius $spin-button-curve-radius 0 0
    );
  }
  .spin-button-down {
    bottom: -1.5rem;
    @include border-radius(
      0 0 $spin-button-curve-radius $spin-button-curve-radius
    );
  }

  fg-spinner.unit-big {
    @include ddd-corners-left;
    // these are nested correctly, note the +
    // which means they are consecutive in the layout flow
    + .spin-button-up {
      width: 100%;
      right: 0;
      + .spin-button-down {
        width: 100%;
        right: 0;
      }
    }
  }
  fg-spinner.unit-small {
    @include ddd-corners-right;
    + .spin-button-up {
      width: 100%;
      left: 0;
      + .spin-button-down {
        width: 100%;
        left: 0;
      }
    }
  }
}

#main.color-picker-editing {
  overflow: visible;
  #clients-existing,
  #jobs-existing {
    flex-basis: calc(100% - #{$sheet-margin} / 2);
    padding: 0;
    @include box-shadow(none);
    h1,
    .text-btn,
    .add-item-btn {
      display: none;
    }
    fg-list.clients,
    fg-list.jobs {
      padding-top: 30vh;
      margin-bottom: -30vh;
      > li {
        display: none;
        &.color-picker-selected {
          display: inline-block;
          width: 100%;
        }
        .remove-item-btn {
          display: none;
        }
        span {
          fg-color-picker + label {
            @include desaturate-if-mono;
          }
        }
        input[type="text"] {
          width: calc(100% - (#{$icon-size} * 4) - (#{$large-padding} * 4));
          margin-left: $icon-size;
        }
      }
    }
  }
}

#color-picker-canvas {
  position: absolute;
  pointer-events: all;
  z-index: $z-background;
  display: none;
  left: 0;
  top: 0;
  width: calc(100vw);
  height: calc(100vh);
  @include desaturate-if-mono;
}
.color-picker {
  display: none;
  &.fg {
    + label {
      margin-left: 0.5rem;
    }
  }
  + label {
    pointer-events: all;
    padding: 0;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    @include ddd-corners;
    cursor: pointer;
  }
}

body.reports {
  #main {
    overflow: visible;
  }

  #report-form .sheet {
    pointer-events: all;
    > span {
      white-space: nowrap;
    }
    span {
      display: block;
      position: relative;
    }
    label {
      display: inline-block;
      margin-right: $large-padding;
    }
    .remove-item-btn {
      margin-top: 0;
      margin-right: 0 - $medium-padding;
      top: 0.5rem;
      display: inline-block;
      right: initial;
      position: relative;
    }
    input,
    fg-select {
      margin: 0;
      padding: 0 $small-padding 0 0;
      width: calc(100% - #{$extra-large-padding});
    }
    &#report-job-client-chooser,
    &#report-date-range-chooser,
    &#report-timemoney-checkboxes {
      display: flex;
      flex-direction: column;
      min-width: initial;
      margin-bottom: calc($sheet-margin / 2);
      margin-right: calc($sheet-margin / 3);
      @include for-tablet-portrait-up {
        flex-basis: calc(33% - #{$sheet-margin} / 3);
        width: calc(33% - #{$sheet-margin} / 3);
      }
      @include for-tablet-landscape-up {
        flex-basis: calc(33% - #{$sheet-margin} / 3);
        width: calc(33% - #{$sheet-margin} / 3);
      }
      @include for-print {
        display: none;
      }
      fg-button {
        margin-top: 0 - $larger-padding;
        margin-bottom: 0 - $larger-padding;
        margin-left: 0 - $larger-padding;
      }
      h1,
      #report-start-date-wrapper,
      #report-client-wrapper,
      #report-job-wrapper,
      #report-end-date-wrapper,
      #report-time-checkbox-wrapper,
      #report-money-checkbox-wrapper {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 33.33%;
        padding: $medium-padding 0;
      }
      h1 {
        line-height: $fontsize-h1;
        margin-right: 0;
        margin-top: 0;
        align-self: center;
      }
      #report-start-date-wrapper,
      #report-end-date-wrapper {
        label {
          display: block;
          line-height: 1.2rem;
          margin: 0;
          padding: 0;
          padding-right: 3.2rem;
        }
      }
      input,
      fg-select {
        max-width: $select-max-width;
      }
    }
    &#report-date-range-chooser {
      label {
        width: 3rem;
        text-align: right;
      }
    }
    &#report-timemoney-checkboxes {
      label {
        margin: 0;
        text-align: left;
        &:after {
          width: $icon-size;
          height: $icon-size;
          background-size: $icon-size;
          right: 0;
          top: -0.1rem;
        }
      }
    }
  }

  #report-results.sheet {
    width: 100%;
    @include for-tablet-portrait-up {
      font-size: $fontsize-default;
    }
    margin-left: 0;
    padding-bottom: $bottom-padding;
    table {
      width: calc(100% - #{$icon-size});
      @include desaturate-if-mono;
      border-collapse: collapse;
    }
    tr {
      display: block;
      border-top: solid $table-border-width $ddd-brightest;
      @include for-phone-larger {
        display: table-row;
      }
    }
    td {
      vertical-align: top;
      font-size: $fontsize-tiny;
      display: block;
      @include for-phone-larger {
        font-size: $fontsize-tertiary;
        display: table-cell;
      }
      line-height: $fontsize-secondary;
      min-height: $fontsize-secondary;
      overflow: hidden;
      text-overflow: ellipsis;
      @include for-tablet-landscape-up {
        white-space: nowrap;
      }
      &.notes {
        @include for-phone-larger {
          text-align: left;
        }
        // Allows `\r\n` to act as line breaks
        white-space: pre-line;
        font-size: $fontsize-tiny;
        padding: $tiny-padding $medium-padding;
        line-height: $fontsize-tertiary;
      }
      &.empty {
        background: repeating-linear-gradient(
          135deg,
          $ddd-weaker,
          $ddd-weaker 0.4rem,
          $ddd-brightest 0.4rem,
          $ddd-brightest 0.8rem
        );
      }
      &:last-of-type {
        white-space: nowrap;
        @include for-tablet-landscape-up {
          padding-left: $larger-padding;
        }
      }
      &.date-initial {
        display: inline-block;
        margin-top: 0.1rem;
        border-top: solid $day-border-width $ddd-medium;
      }
      &.date-initial,
      &.date-repeat {
        font-style: italic;
        padding-right: $medium-padding;
      }
      &.date-repeat {
        visibility: hidden;
      }
      &.total-results-heading {
        color: $ddd-headingcolor-main;
        font-style: italic;
        font-weight: bold;
        font-size: $fontsize-h2;
        line-height: $fontsize-h2;
        padding-bottom: $larger-padding;
        text-align: right;
        @include for-phone-larger {
          text-align: center;
        }
        white-space: initial;
      }
      &.total-label {
        font-size: $fontsize-default;
        color: $ddd-headingcolor-sub;
        padding-right: $medium-padding;
      }
      &.results-spacer {
        padding-top: $extra-large-padding * 2;
      }
      &.results-spacer-small {
        padding-top: $extra-large-padding;
      }
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: $tiny-padding $medium-padding $small-padding $medium-padding;
      }
    }
    &.attention {
      table {
        td {
          border: none;
          white-space: initial;
        }
      }
    }
    .money,
    .hrs {
      font-family: $number-font-family;
      padding: $tiny-padding $medium-padding;
      line-height: 1.35rem;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 2rem;
        height: $fontsize-default;
        background-repeat: no-repeat;
        background-position: 90% 50%;
        margin-top: 0 - $tiny-padding;
        opacity: 0.15;
      }
    }
    .money {
      color: $input-color-money;
      &:after {
        background-image: color-svg-icon(
          $svg-icon-money,
          $hashless-input-color-money
        );
      }
      &.negative {
        color: $input-color-money-negative;
        &:after {
          background-image: color-svg-icon(
            $svg-icon-money,
            $hashless-input-color-money-negative
          );
        }
      }
      &.positive {
        color: $input-color-money-positive;
        &:after {
          background-image: color-svg-icon(
            $svg-icon-money,
            $hashless-input-color-money-positive
          );
        }
      }
    }
    .hrs {
      color: $input-color-time;
      &:after {
        background-image: color-svg-icon(
          $svg-icon-time,
          $hashless-input-color-time
        );
      }
      em {
        @include large-fraction;
      }
    }
    td.total-label,
    td.total-label + .money,
    td.total-label + .hrs {
      @include for-tablet-portrait-up {
        padding-top: $large-padding;
        padding-bottom: $large-padding;
      }
    }
  }
}

#main {
  .help-item {
    position: fixed;
    @include for-print {
      display: none;
    }
    margin-right: $extra-large-padding;
    z-index: $z-ui;
    top: 0;
    pointer-events: all;
    @include float-shadow;
    p {
      &:last-of-type {
        font-size: 0.7rem;
        margin-top: $larger-padding;
      }
    }
    h2 {
      padding-top: 0;
      padding-right: $icon-size-large + $medium-padding;
      padding-bottom: 0;
      margin-bottom: $large-padding;
      font-weight: bold;
      color: $ddd-headingcolor-main;
    }
    .remove-item-btn {
      display: inline-block;
      right: 0;
      top: 0;
      margin-top: 0;
      label {
        background-color: $glow-vague-color-over;
      }
      &:hover,
      &:active,
      &focus {
        label {
          background-color: $glow-vague-color;
        }
      }
    }
    input[type="checkbox"] + label {
      margin-bottom: 0;
      margin-top: $large-padding;
      padding-right: calc(#{$larger-padding} * 2);
    }
    .btn-nav {
      margin-top: $larger-padding;
      &:first-of-type {
        margin-right: $larger-padding;
      }
    }
  }
}

.popover-container {
  @include popover-wrapper;
  .popover {
    @include popover;
    .help-demo {
      text-align: center;
      video {
        border: solid $placeholder-border-width $ddd-medium;
        max-width: 100%;
        height: 70vh;
        margin-bottom: $large-padding;
      }
    }
    .popover-form-2col,
    .popover-form-3col {
      display: grid;
      fg-radio-button-group {
        font-size: 50%;
        h4 {
          text-align: right;
          padding-right: $large-padding;
          margin: 0;
          padding-top: calc(#{$large-padding} + #{$large-padding} / 2);
          padding-bottom: $large-padding;
          color: $ddd-headingcolor-main;
          min-height: $fontsize-display;
          line-height: $fontsize-secondary;
        }
        h4,
        label {
          display: inline-block;
          @include border-radius(0);
          border-top: solid $day-border-width $ddd-medium;
        }
        label {
          margin: 0;
          padding-right: 100%;
          border-left: solid $day-border-width $ddd-medium;
          min-height: calc(#{$fontsize-display} + #{$large-padding} * 2);
        }
        label:after {
          position: relative;
          margin-top: $large-padding;
        }
      }
      header,
      footer {
        ul {
          padding-left: 0;
          padding-right: $medium-padding;
          li {
            margin-left: $large-padding;
            list-style: none;
            line-height: $fontsize-secondary;
            margin-bottom: $medium-padding;
          }
        }
        h3 {
          text-transform: capitalize;
          @include border-radius(0);
          border-left: solid $day-border-width $ddd-medium;
        }
      }
    }
    .popover-form-2col,
    .popover-form-3col {
      fg-radio-button-group,
      header,
      footer {
        display: inline-grid;
        grid-auto-flow: column;
        margin: 0 auto;
      }
    }
    .popover-form-2col {
      fg-radio-button-group,
      header,
      footer {
        grid-auto-columns: 10rem 10rem;
      }
    }
    .popover-form-3col {
      fg-radio-button-group,
      header,
      footer {
        grid-auto-columns: 7rem 10rem 9rem;
      }
    }
  }
}

canvas#linking-lines-canvas {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
}

span#versionInfo {
  color: $ddd-stronger;
  padding: $medium-padding;
}
