/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

/* ===============================================
SASS mixins
================================================== */

@mixin icon-bg-defaults() {
	background-size: $icon-bg-size;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: "";

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};
		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation: $animations;
	-o-animation: $animations;
	animation: $animations;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@mixin prevent-selection-highlight {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version */
}

@mixin no-mobile-touch-highlight {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin no-native-styling {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin large-fraction {
	font-size: $fontsize-h2;
	margin: 0 0.15rem;
	bottom: -0.15rem;
	position: relative;
}

@mixin outer-border($thickness, $color) {
	box-shadow: 0 0 0 $thickness $color;
}

@mixin guide-icon-buttons($svg-icon, $pseudo: "") {
	@if $pseudo == "" {
		background-image: color-svg-icon($svg-icon, $hashless-icon-color-main);
		&.guide-visible {
			background-image: color-svg-icon($svg-icon, $hashless-intense);
		}
	} @else {
		&#{$pseudo} {
			background-image: color-svg-icon($svg-icon, $hashless-icon-color-main);
		}
		&.guide-visible#{$pseudo} {
			background-image: color-svg-icon($svg-icon, $hashless-intense);
		}
	}
}

@mixin popover-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $ddd-dimmer;
	z-index: $z-ui;

	//padding-left: $sidebar-width;
	//&.maximised {
	//  padding-left: $icon-size-large;
	//}
}

@mixin popover {
	max-width: calc(100% - 2rem);
	width: 30rem;
	//height: 30rem;
	margin: 0 auto;
	background: $sheet-bg-color;
	@include float-shadow;
	// vertically align (slightly above centre)
	// perspective(1px) is to work around subpixel positioning
	// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
	position: relative;
	transform: perspective(1px) translateY(-50%);
	-webkit-transform: perspective(1px) translateY(-50%);
	-ms-transform: perspective(1px) translateY(-50%);
	border-radius: 1rem;
	padding: $large-padding $large-padding;
	max-height: calc(100% - 1rem);
	top: calc(50% - 0.5rem);

	h2 {
		text-align: center;
		margin-bottom: $medium-padding;
		text-transform: capitalize;
		@include for-tablet-portrait-up {
			margin-bottom: $large-padding;
		}
		color: $ddd-headingcolor-main;
	}

	h3,
	p {
		margin: 0;
		padding: $medium-padding $large-padding $medium-padding $large-padding;
	}
	h3 {
		display: block;
		font-size: $fontsize-h2;
		line-height: 2.1rem;
	}
	p {
		font-size: $fontsize-default;
		word-break: break-word;
		line-height: 2.1rem;
		margin-bottom: $large-padding;
	}
	.popover-button-container {
		display: flex;
		justify-content: space-between;
    padding-top: $large-padding;
		.btn-nav {
			border: none;
			padding-right: $medium-padding;
			padding-left: $medium-padding;
			text-align: center;
			font-size: $fontsize-default;
			line-height: $fontsize-default;
			&[disabled],
			&:active[disabled],
			&:hover[disabled],
			&:focus[disabled] {
				opacity: 0.5;
				pointer-events: none;
			}
			label {
				text-transform: capitalize;
				line-height: 1.5rem;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				pointer-events: none;
			}
			&:first-of-type {
				@include ddd-corners-left;
			}
			&:last-of-type {
				@include ddd-corners-right;
			}
			&:only-of-type {
				margin-left: auto;
			}
		}
	}
}

@mixin interactable {
	//@include outer-border($interactable-border-width, $button-bgcolor);
	background-color: $glow-vague-color;
	color: $ddd-intense;
}

@mixin interactable-over {
	@include outer-border($interactable-border-width, $ddd-intense);
	background-color: $glow-vague-color-over;
	border-color: transparent;
	color: $ddd-headingcolor-main;
}

@mixin border-radius($args...) {
	border-radius: $args;
}

@mixin ddd-corners-full {
	@include border-radius($ddd-corner-size-full);
}
@mixin ddd-corners-left-full {
	@include border-radius(
	$ddd-corner-size-full $ddd-corner-size $ddd-corner-size $ddd-corner-size-full
	);
}

@mixin ddd-corners {
	@include border-radius($ddd-corner-size);
}
@mixin ddd-corners-left {
	@include border-radius($ddd-corner-size 0 0 $ddd-corner-size);
}
@mixin ddd-corners-right {
	@include border-radius(0 $ddd-corner-size $ddd-corner-size 0);
}
@mixin ddd-corners-top {
	@include border-radius($ddd-corner-size $ddd-corner-size 0 0);
}
@mixin ddd-corners-bottom {
	@include border-radius(0 0 $ddd-corner-size $ddd-corner-size);
}

@mixin topCurve($args) {
	-webkit-border-radius: $args $args 0 0;
	-moz-border-radius: $args $args 0 0;
	border-radius: $args $args 0 0;
}

@mixin bordered-list {
	&:last-of-type {
		margin-bottom: $large-padding;
	}
}

@mixin grid-margins-mobile {
	margin-bottom: $large-padding;
	margin-left: $small-padding;
	margin-right: $small-padding;
}

@mixin grid-margins {
	margin-bottom: $large-padding;
	margin-left: $medium-padding;
	margin-right: $medium-padding;
}

@mixin sheet-shadow {
	//@include box-shadow(1px 1px 8px -2px $shadow-color);
	//@include box-shadow(2px 3px 10px $shadow-color-weak);
	@include box-shadow(0px 1px 6px $shadow-color-weak);
}

@mixin float-shadow {
	@include box-shadow(2px 2px 9px $shadow-color-weak);
}

@mixin high-shadow {
	@include box-shadow(3px 4px 13px $shadow-color);
}

@include keyframes(working) {
	0% {
		transform: rotate(0deg);
		//-webkit-transform: rotate3d(0, 0, 1, 0deg);
	}
	100% {
		transform: rotate(359deg);
		//-webkit-transform: rotate3d(0, 0, 1, 340deg);
	}
}

@include keyframes(attract) {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@include keyframes(delayed-fade-up) {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@mixin screenreader-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@mixin empty-field {
	@include outer-border($interactable-border-width, $ddd-medium);
}

@mixin placeholder-attrs {
	&.placeholder {
		//@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

@mixin invalid-placeholder-attrs {
	.invalid::-webkit-input-placeholder {
		@content;
	}
	.invalid:-moz-placeholder {
		@content;
	}
	.invalid::-moz-placeholder {
		@content;
	}
	.invalid:-ms-input-placeholder {
		@content;
	}
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin for-phone-larger {
	@media (min-width: 460px) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}
@mixin for-print {
	@media only print {
		@content;
	}
}
