/* SPDX-License-Identifier: (GPL-3.0-only) */
/* Copyright © 2022 Mark Mayes */

$z-hidden: -1;
$z-background: 0;
$z-normal: 1;
$z-float: 2;
$z-cover: 3;
$z-ui: 4;

$hide-indent: -999999em;
$transparent-rgba: rgba(0,0,0,0);

$bold-font-family: Signika, Tahoma, Arial, Helvetica;
$normal-font-family: Signika, Tahoma, Arial, Helvetica;
$number-font-family: JetBrainsMono, monospace;

/* ===============================================
		size definitions
================================================== */

$nav-item-size: 1.5rem;
$icon-size: 2rem;
$icon-size-large: 2.6rem;
$icon-bg-size: auto 50%;
$icon-bg-size-small: 1.2rem;
$icon-bg-size-switch: 1.5rem;
$icon-bg-size-worksheet-nav: 1.2rem;

$tiny-padding: 0.15rem;
$small-padding: 0.3rem;
$medium-padding: 0.6rem;
$large-padding: 0.8rem;
$larger-padding: 1.4rem;
$extra-large-padding: 2rem;
$bottom-padding: 9rem;
$top-padding: 4.5rem;

$sheet-margin: 6rem;
$sheet-right-padding: ($large-padding  * 1) + ($larger-padding * 4);
$sheet-right-padding-mobile: ($medium-padding  * 1) + ($large-padding * 4);

$fontsize-display: 2rem;
$fontsize-h1: 1.5rem;
$fontsize-h2: 1.4rem;
$fontsize-default: 1.3rem;
$fontsize-secondary: 1.2rem;
$fontsize-tertiary: 1rem;
$fontsize-tiny: 0.9rem;

$money-time-wrap-width: 15rem;
$select-width: 14rem;
$select-max-width: 24rem;
$sheet-min-width: 30rem;
$notes-width: 10rem;
$number-input-min-width: 13rem;
$sheet-clients-jobs-min-width: 20rem;

$sidebar-width: 11rem;
$sidebar-width-minimised: 3rem;
$date-width: 6rem;
$worksheet-nav-height: 1.5rem;

$ddd-corner-size: $small-padding;
$ddd-corner-size-full: $larger-padding;

$spin-button-curve-radius: 999rem;

$result-row-border-width: 0.2rem;
$day-border-width: 0.125rem;
$interactable-border-width: 0.125rem;
$placeholder-border-width: 0.125rem;
$month-start-border-width: 0.2rem;
$week-start-border-width: 0.2rem;
$table-border-width: 0.125rem;

$tab-fontsize-unselected: 1rem;
$tab-fontsize-selected: 1.15rem;
$tab-padding: $tiny-padding;
$tab-margin: $medium-padding;

